@{

}


<div class="row gy-2">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-primary">Lista de Personas</h5>
                <h6 class="card-subtitle mb-2 text-muted">Filtros:</h6>
                <div class="row gx-1">
                    <div class="col">
                        <label>Nombre: </label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col">
                        <label>Apellido: </label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <label>Activo: </label>
                        <select class="form-select">
                            <option value="">TODOS</option>
                            <option value="true">SI</option>
                            <option value="false">NO</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Fecha de Nacimiento: </label>
                        <div class="row gx-1">
                            <div class="col-6">
                                <input type="date" class="form-control" />
                            </div>
                            <div class="col-6">
                                <input type="date" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <a role="button" class="btn btn-primary" title="Nuevo" asp-controller="Persona" asp-action="Nuevo" asp-area=""><span class="fa fa-plus"></span>&nbsp; Nuevo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-sm table-hover table-bordered">
                    <thead>
                        <tr class="table-success">
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Junior</td>
                            <td>Sulca</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Junior</td>
                            <td>Sulca</td>
                        </tr>
                       
                      
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

